DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bsc_chatbot
MISTRAL_API_KEY=your_mistral_api_key_here
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
EMBEDDING_DIM=384
HUGGINGFACEHUB_API_TOKEN = huggingface_key